h1, h2, h3 {
	font-family: 'Bevan', cursive;
	color:#79756f;
}
html{
	background-color:#dbd6cf;
	font-family: arial, sans-serif;
}
a{
	color:#763837;
}
a:hover{
	color:red;
}
nav ol {
	list-style-type:none;
	padding: 0;
	line-height: 1.5;
}
Blockquote{
	font-style: georgia, serif;
	font-style: italic;
}
Blockquote span {
	font-size: 2rem;
		color:#79756f;
}
dt{
	font-weight: bold;
}
ol {
	list-style-type: lower-roman;
}
.different {
	color:#79756f;
}
ol span {
	list-style-type: circle;
	line-height: 1.5;
}
figcaption {
	font-size: .75rem;
	font-style: italic;
}
